<ion-view title="Glossary" id="page3">
  <ion-content padding="true" class="has-header">
    <h1 id="glossary-heading3" style="color:#000000;">Definition of technical words </h1>
    <form id="glossary-form4" class="list">
      <label class="item item-input" id="glossary-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 54px;"></div>
    <ion-list id="glossary-list5">
      <ion-item class="item-divider" id="glossary-list-item-divider3"> Item</ion-item>
    </ion-list>
    <div id="glossary-markdown21" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <ion-list id="glossary-list6">
      <ion-item class="item-divider" id="glossary-list-item-divider4"> Item</ion-item>
    </ion-list>
    <div id="glossary-markdown22" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>