<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="home-heading1" style="color:#000000;font-weight:lighter;text-align:center;">Securing your home network</h1>
    <div>
      <img src="img/zfrJk3nLRBKHrMnTgdc1_rsz_2logo.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="home-card21">
      <div id="home-markdown1" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#383535;">This app is desisgned to help you secure your home network by having a security checklist so home owners can follow the list, and see what measure to put in place to lower the risks of an attack.</p>

        <p style="color:#383535;">Furthermore, this application will offer a guide on how to perform the basic security tasks on routers offered by the main British ISPs.</p>
      </div>
    </div>
  </ion-content>
</ion-view>