<ion-view title="Security Checklist" id="page2">
  <ion-content padding="true" class="has-header">
    <h4 id="securityChecklist-heading2" style="color:#000000;font-weight:lighter;">Please follow this checklist to make sure your home network has the basic security measures put in place.</h4>
    <div class="spacer" style="width: 300px; height: 52px;"></div>
    <form id="securityChecklist-form2" class="list">
      <ion-checkbox id="securityChecklist-checkbox6">Change your WIFI name</ion-checkbox>
      <div id="securityChecklist-markdown13" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:12px;">Changing the SSID (your routers name) makes it harder for malicious attackers to know what type of router you have or what ISP you have. Knowing such details, will allow them to find the exploits for that specific router. It is advised to not
          put any personal information, such as your name, as the router's SSID</p>
      </div>
      <div class="spacer" style="width: 300px; height: 60px;"></div>
      <ion-checkbox id="securityChecklist-checkbox2">Change your WIFI password</ion-checkbox>
      <div id="securityChecklist-markdown8" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:12px;">It is very important to change the default password of your router to a more personal and secure one. Many of the default routers passwords are availbale to find online, making it easier for hackers to break into your network.</p>
      </div>
      <div class="spacer" style="width: 300px; height: 60px;"></div>
      <ion-checkbox id="securityChecklist-checkbox3">Change password encryption</ion-checkbox>
      <div id="securityChecklist-markdown9" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:12px;">Another essential step to make sure that your password is going to help protect your router and network, is to make sure you have to the strongest encryption. Many routers default encrytpion is WEP, but it only takes 5 minutes for hackers to break
          it, so change it to WPA-2. It is still the strongest encryption protocol .</p>
      </div>
      <div class="spacer" style="width: 300px; height: 60px;"></div>
      <ion-checkbox id="securityChecklist-checkbox4">Enable MAC Address filtering</ion-checkbox>
      <div id="securityChecklist-markdown12" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:12px;">Every device has a unique MAC address, this allows the router to identify each device that connects to it. By obtaining the MAC addresses of your devices at home and entering them into the router, you are protecting your network from any intruder
          device trying to connect to the network.</p>
      </div>
      <div class="spacer" style="width: 300px; height: 60px;"></div>
      <ion-checkbox id="securityChecklist-checkbox5">Disable remote access</ion-checkbox>
      <div id="securityChecklist-markdown14" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:12px;">Some routers allow access even from remote systems. Once you turned off the remote access, malicious actors won’t be able to access your router’s privacy settings from a device not connected to your wireless network.</p>
      </div>
      <div class="spacer" style="width: 300px; height: 60px;"></div>
      <ion-checkbox id="securityChecklist-checkbox7">Set up a firewal</ion-checkbox>
      <div id="securityChecklist-markdown15" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:12px;">Setting up the firewall available on your router,allows you to add another layer of protection for your devices connected. It analyzes the traffic of every devices on the network, making sure no malicious packet if forwarded</p>
      </div>
      <div class="spacer" style="width: 300px; height: 60px;"></div>
      <ion-checkbox id="securityChecklist-checkbox8">Update router firmware</ion-checkbox>
      <div id="securityChecklist-markdown16" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:12px;">Update your router firmware in order to install all the latest security patches.</p>
      </div>
      <div class="spacer" style="width: 300px; height: 60px;"></div>
    </form>
  </ion-content>
</ion-view>